body
{
    background-image: linear-gradient(#1a2a6c, #b21f1f, #fdbb2d);
}
#filter
{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 90px;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    animation-name: text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: fit-content;
}
#here_is
{
    font-family: 'Kavoon', cursive;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}
.filter_box
{
    animation-name: Border;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    height: 420px;
    width: 548px;
}
.Name
{
    font-family: 'Monofett', cursive;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.538);
    width: 500px;
}
.save_img
{
    font-size: 30px;
    font-family: 'Modak', cursive;
    background-image: linear-gradient(to bottom right, #1E9600, #FFF200, #FF0000);
    height: 50px;
    width: 200px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.save_img:hover
{
   height: 45px;
   width: 180px;
   font-size: 27px;
   margin-top: 15px;
   margin-bottom: 15px;
}
#filter_icon1
{
    width: 150px;
    height: 103.125px;
    margin-right: 50px;
}
#filter_icon2
{
    width: 150px;
    height: 64.285714285714px;
    margin-left: 50px;
}
@keyframes Border
{
    0% { border: 30px solid transparent;
         border-image: url(frame_0_delay-0.01s.gif) 30 stretch;}
    20% { border: 30px solid transparent;
         border-image: url(frame_1_delay-0.01s.gif) 30 stretch;}
    40% { border: 30px solid transparent;
         border-image: url(frame_2_delay-0.01s.gif) 30 stretch;}
    60% { border: 30px solid transparent;
         border-image: url(frame_3_delay-0.01s.gif) 30 stretch;}
    80% { border: 30px solid transparent;
         border-image: url(frame_4_delay-0.01s.gif) 30 stretch;}
    100% { border: 30px solid transparent;
         border-image: url(frame_5_delay-0.01s.gif) 30 stretch;}
}
@keyframes text
{
    0% {rotate:-3deg;}
    50%   {rotate: 3deg;}
    100%   {rotate:-3deg;}
}